.jumbotron {
  padding-top: 6rem;
  background-color: #dda0dd80;
}

#projects {
  background-color: #dda0dd80;
  margin-bottom: 100px;
}

footer {
  margin-top: auto;
  background-color: #dda0dd;
  color: white;
  text-align: center;
}
footer a {
  color: white;
  font-weight: bold;
}
section {
    padding-top: 5rem;
}

